---
hel-lo_t-ext: Hello there!
show&_&footer: false
fr<$u>it:
  - 
    name: apple
    cost: '$1'
    color: red
  - 
    $name: banana
    cost: '$2'
    0: ': yellow'
  - 
    name: orange
    cost: '$1.50'
    color: '&ora$nge'
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About page</h1>
    <p>{{ page.hello_text }}</p>

    <ul>
      {% for item in page.fruit %}
        <li>{{ item.name }}, cost: {{ item.cost }}, color: {{ item.color }}</li>
      {% endfor %}
    </ul>

    {% if page.show_footer %}
      <footer>I am a footer</footer>
    gfg gf gfg
  </body>
</html>
